body {
    height: 100vh;
    display: flex;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("bg_crop.jpg");
}

p {
    font-size: larger;
    max-width: 800px;
    padding: 0px 0px 0px 40px;
}

.main {
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #F9FAFB;
}

.form-bg {
    box-shadow: 4px 4px 4px grey;
    padding: 12px 0px 12px 0px;
    background-color: white;
}

.form-box {
    padding: 0px 0px 20px 40px;
    display: flex;
    gap: 96px;
}

.form-col {
    display: flex;
    gap: 12px;
    flex: 1;
    flex-direction: column;
    max-width: 300px;
}

.form-unit {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #2e2e2e;
}

.img-container {
    padding: 12px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

img#card {
    width: 100px;
}

.fat {
    font-size: 110px;
    color: azure;
    font-family: fantasy;
}

.img-bg {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.289);
}
input {
    height: 24px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid lightgray;
}

button {
    padding: 6px 12px;
    font-size: larger;
    border-radius: 4px;
    border-color: #151C46;
    background-color: #CD7699;
    color: white;
    margin-left: 40px;
    margin-top: 20px;

}

.error-box {
    color: red;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 2px;
    height: 20px;
}

.attrib {
    color: white;
}